<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">

    <title>{{ page_title }}</title>

    {{ content_for_header }}

    {{ checkout_stylesheets }}
    {{ checkout_scripts }}
  </head>
  <body>
    {{ skip_to_content_link }}

    <header class="banner" data-header role="banner">
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </header>

    {{ order_summary_toggle }}
    <div class="content" data-content>
      <div class="wrap">
        <div class="main">
          <header class="main__header" role="banner">
            {%- if customer.tags contains 'wholesale' %}
              <a class="logo logo--left" href="/pages/wholesale-homepage">
                <img src="https://cdn.shopify.com/s/files/1/0669/6425/9132/files/Group_3797_2x_abeaf3e3-ba73-4261-a5ec-31cbfe5629d5_500x.png?v=1667793756">
              </a>
            {% else %}
            {{ content_for_logo }}
              {% endif %}
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </header>
          <main class="main__content" role="main">
            {{ content_for_layout }}
          <div style="display: flex; flex-direction: row; justify-content: space-between; padding-top: 30px;" class="trust-badges">
            <img style="width: auto; height: auto; max-width: 90px;" src="https://cdn.shopify.com/s/files/1/0669/6425/9132/files/shutterstock_1423573472_Converted_-01.png?v=1695409518">
            <img style="width: auto; height: auto; max-width: 90px;" src="https://cdn.shopify.com/s/files/1/0669/6425/9132/files/shutterstock_1423573472_Converted_-03.png?v=1695409519">
            <img style="width: auto; height: auto; max-width: 90px;" src="https://cdn.shopify.com/s/files/1/0669/6425/9132/files/shutterstock_1423573472_Converted_-02.png?v=1695409519">
            <img style="width: auto; height: auto; max-width: 90px;" src="https://cdn.shopify.com/s/files/1/0669/6425/9132/files/shutterstock_1423573472_Converted_-04.png?v=1695409518">
          </div>
          </main>
          <footer class="main__footer" role="contentinfo">
            {{ content_for_footer }}
          </footer>
        </div>
      
        <aside class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>

          <div class="sidebar__content">
              
            {{ content_for_order_summary }}
    
{% assign tag_count = 0 %}
{% for tag in product.tags %}
  {% assign tag_count = tag_count | plus:1 %}
{% endfor %}

{% if tag_count == 3 and product.tags | uniq | size == 1 %}
            {{ product.tags }}
<script>document.querySelector('.order-summary__section--discount').style.display = 'none';</script>

{% endif %}
          </div>
        </aside>
      </div>
    </div>

    {{ tracking_code }}
  </body>
</html>
