{%- comment -%}
IMPLEMENTATION NOTE: the header in Focal is pretty complex as it allows a lot of different layouts. In order to make
  this code as efficient as possible and avoid as many reflows, we are using a lot of different CSS variables. If you
  need to touch this code, make sure to do it with EXTRA CARE as it may have some unwanted side effects
{%- endcomment -%}

<style>
  :root {
    --enable-sticky-header: {% if section.settings.enable_sticky_header %}1{% else %}0{% endif %};
    --enable-transparent-header: {% if request.page_type == 'index' and section.settings.enable_transparent_header %}1{% else %}0{% endif %};
    --loading-bar-background: {{ settings.header_text_color.red }}, {{ settings.header_text_color.green }}, {{ settings.header_text_color.blue }}; /* Prevent the loading bar to be invisible */
  }

  #shopify-section-{{ section.id }} {
    {%- assign header_border_color = settings.header_background | color_mix: settings.header_text_color, 85 -%}

    --header-background: {{ settings.header_background.red }}, {{ settings.header_background.green }}, {{ settings.header_background.blue }};
    --header-text-color: {{ settings.header_text_color.red }}, {{ settings.header_text_color.green }}, {{ settings.header_text_color.blue }};
    --header-border-color: {{ header_border_color.red }}, {{ header_border_color.green }}, {{ header_border_color.blue }};
    --reduce-header-padding: {% if section.settings.reduce_desktop_padding %}1{% else %}0{% endif %};

    {%- if section.settings.enable_sticky_header -%}
      position: -webkit-sticky;
      position: sticky;
    {%- else -%}
      position: relative;
    {%- endif -%}

    top: {% if section.settings.enable_sticky_header %}calc(var(--enable-sticky-announcement-bar) * var(--announcement-bar-height, 0px)){% else %}0{% endif %};
    z-index: 4;
  }

  {%- if request.page_type == 'index' and section.settings.enable_transparent_header -%}
    #shopify-section-{{ section.id }} {
      margin-bottom: calc(-1 * (var(--header-height, 0px) + var(--enable-sticky-announcement-bar) * var(--announcement-bar-height, 0px)));
    }

    .js #shopify-section-{{ section.id }} .header--transparent {
      {%- if settings.header_text_color == section.settings.transparent_header_text_color -%}
        {%- assign header_bubble_text_color = settings.header_background -%}
      {%- else -%}
        {%- assign header_bubble_text_color = settings.header_text_color -%}
      {%- endif -%}

      --header-background: transparent;
      --header-text-color: {{ section.settings.transparent_header_text_color.red }}, {{ section.settings.transparent_header_text_color.green }}, {{ section.settings.transparent_header_text_color.blue }};
      --header-border-color: {{ section.settings.transparent_header_text_color.red }}, {{ section.settings.transparent_header_text_color.green }}, {{ section.settings.transparent_header_text_color.blue }}, 0.15;
      --header-transparent-bubble-text-color: {{ header_bubble_text_color.red }}, {{ header_bubble_text_color.green }}, {{ header_bubble_text_color.blue }};
    }
  {%- endif -%}

  #shopify-section-{{ section.id }} .header__logo-image {
    max-width: {{ section.settings.mobile_logo_max_width }}px;
  }

  

  @media screen and (min-width: 741px) {
    #shopify-section-{{ section.id }} .header__logo-image {
      max-width: {{ section.settings.logo_max_width }}px;
    }
  }

  @media screen and (min-width: 1200px) {
    {%- if section.settings.header_layout == 'logo_left_navigation_inline' -%}
      /* For this navigation we have to move the logo at the first and add a margin */
      [dir="rtl"] .header__logo {
        margin-left: 40px;
      }

      [dir="ltr"] .header__logo {
        margin-right: 40px;
      }

      .header__logo {
        order: -1;
      }

      @media screen and (min-width: 741px) {
        .header__secondary-links {
          max-width: max-content;
          margin-inline-start: 48px;
        }
      }
    {%- endif -%}

    {%- if section.settings.header_layout == 'logo_left_navigation_center' -%}
      /* For this navigation we have to move the logo and make sure the navigation takes the whole width */
      .header__logo {
        order: -1;
/*         flex: 1 1 0; */
      }

      .header__inline-navigation {
        flex: 1 1 auto;
        justify-content: center;
        max-width: max-content;
      }
    {%- endif -%}
  }

  {%- if request.page_type == '404' -%}
    .shopify-section--404 {
      /* For the 404 page, we re-use the same colors as the header for design reason */
      --background: {{ settings.header_background.red }}, {{ settings.header_background.green }}, {{ settings.header_background.blue }};
      --heading-color: {{ settings.header_text_color.red }}, {{ settings.header_text_color.green }}, {{ settings.header_text_color.blue }};
      --text-color: {{ settings.header_text_color.red }}, {{ settings.header_text_color.green }}, {{ settings.header_text_color.blue }};
      --primary-button-background: {{ settings.header_text_color.red }}, {{ settings.header_text_color.green }}, {{ settings.header_text_color.blue }};
      --primary-button-text-color: {{ settings.header_background.red }}, {{ settings.header_background.green }}, {{ settings.header_background.blue }};
    }
  {%- endif -%}
/*   hiding more filters on consumer side collection pages */
  .product-facet__filter-item:last-child {
    display: none;
  }
/*  HIDING SAVE PRODUCT ON CONSUMER SIDE  */
.aasaved-cart-wrapper {
    display: none!important;
}
  
</style>

<div id="shopify-section-header" class="shopify-section shopify-section--header top-nav">
  <div class="container">
    <div id="new-top-nav">
{% if page.handle == 'landing-page' %}

 {% endif %}     
      {%  if collection.handle == 'order-form' %}
       
        {% elsif page.handle == 'catalog-order-form' %}
        <span class="header__logo"><a class="header__logo-link" href="/pages/catalog-order-form"><span class="visually-hidden">Outdoor Nation</span>
            <img class="header__logo-image" width="529" height="98" src="//cdn.shopify.com/s/files/1/0669/6425/9132/files/ON_Logo_355x-01-2x.png?v=1682456838" alt=""></a>
      </span>
        {% elsif product.tags contains 'orderform' %}
        <span class="header__logo"><a class="header__logo-link" href="/pages/catalog-order-form"><span class="visually-hidden">Outdoor Nation</span>
            <img class="header__logo-image" width="529" height="98" src="//cdn.shopify.com/s/files/1/0669/6425/9132/files/ON_Logo_355x-01-2x.png?v=1682456838" alt=""></a>
      </span>
        {% else %}
      <!-- <span class="header__logo"><a class="header__logo-link" href="/"><span class="visually-hidden">Outdoor Nation</span>
            <img class="header__logo-image" width="529" height="98" src="//cdn.shopify.com/s/files/1/0669/6425/9132/files/ON_Logo_355x-01-2x.png?v=1682456838" alt=""></a>
      </span> -->
        {% endif %}
      <!-- <div class="announcement-callout">
        <h3>A new way to shop all your outdoor apparel</h3>
      </div> -->
      <div class="logo-top-nav gillz-top">
        <a class="logos-align" href="/pages/gillz/">
          <svg xmlns="http://www.w3.org/2000/svg" width="109.348" height="29.001" viewBox="0 0 109.348 29.001">
            <path id="Union_5" data-name="Union 5" d="M7.267,16.649,1.961,1.567,0,0,4.74,1.007l7.582,16.6L4.984,28.323,1.7,29Zm7.468,1.477L9.429,3.045,7.467,1.478l4.741,1.007,7.582,16.6-4.93,7.2-4.189.864ZM22.2,19.6,16.9,4.522,14.936,2.955l4.741,1.007,7.582,16.6-2.523,3.684-5.1,1.052Zm69.4,5.59v-3.4L105.781,6.533H91.6V3.807h17.743v3.4l-14,15.26h14v2.726Zm-8.635,0a13.4,13.4,0,0,1-3.949-.47,6.076,6.076,0,0,1-2.579-1.629,5.743,5.743,0,0,1-1.4-2.484,15.255,15.255,0,0,1-.4-3.955V3.807h3.4V16.248a15.94,15.94,0,0,0,.226,3.079,3.586,3.586,0,0,0,.771,1.684,6.171,6.171,0,0,0,4.611,1.457H88.2v2.726Zm-16.187,0a13.4,13.4,0,0,1-3.949-.47,6.065,6.065,0,0,1-2.578-1.629,5.736,5.736,0,0,1-1.4-2.484,15.294,15.294,0,0,1-.405-3.955V3.807h3.4V16.248a15.868,15.868,0,0,0,.226,3.079,3.577,3.577,0,0,0,.771,1.684,6.169,6.169,0,0,0,4.611,1.457h4.565v2.726Zm-15.131,0V3.807h3.4V25.194Zm-11.267,0a17.144,17.144,0,0,1-4.876-.533,7.371,7.371,0,0,1-3.66-2.616Q29.9,19.523,29.9,14.6q0-7.051,3.91-9.464A8.316,8.316,0,0,1,36.521,4.1a21.537,21.537,0,0,1,4.019-.3h7.711V6.533H40.805a19.1,19.1,0,0,0-2.905.149,4.827,4.827,0,0,0-1.675.666q-2.709,1.677-2.71,6.988a16.634,16.634,0,0,0,.28,3.384,7.061,7.061,0,0,0,.982,2.381,4.566,4.566,0,0,0,2.134,1.873,11.321,11.321,0,0,0,3.894.493h4.051V15.652H38.3V12.926h9.954V25.194Z" />
          </svg>
        </a>
      </div>
      <div class="logo-top-nav reel-life-top">
        <a class="logos-align" href="/pages/reel-life/">
<svg xmlns="http://www.w3.org/2000/svg" id="Group_5047" data-name="Group 5047" width="89.268" height="41.371" viewBox="0 0 89.268 41.371">
            <path id="Path_674" data-name="Path 674" d="M997.409-587.8H996.9v-.185h1.244v.185h-.514v1.5h-.219Zm2.377,1.495H1000l-.1-1.679h-.277l-.3.812c-.075.212-.135.4-.177.566h-.007c-.042-.174-.1-.359-.17-.566l-.286-.812H998.4l-.117,1.679h.207l.045-.72c.015-.251.027-.533.032-.742h0c.048.2.115.416.194.653l.271.8h.165l.3-.815c.086-.232.155-.441.212-.638h.008c0,.209.012.491.025.725Zm-25.958-14.52a38.273,38.273,0,0,1,0-7.3,36.969,36.969,0,0,1,.5-4.913c.15-.685.51-2.228,1.094-2.188.512.036.8,2.036.921,2.56.175.772.349,1.871.93,1.861.61-.011.7-1.217.6-2.025a10.289,10.289,0,0,0-.439-2.237c-.33-.961-1.044-3.467-2.078-3.615a1.8,1.8,0,0,0-1.427.634c-1.123,1.452-1.708,4.755-1.871,7.437-.2,3.333-.236,6.856-.476,9.938-.492.2-1.006.075-1.456.432a1.492,1.492,0,0,0-.383,2.184c.381.354,1.334.086,1.906.319a13.5,13.5,0,0,1,.032,2.756c0,.828-.061,1.639-.086,2.467-.094,3.124.419,6.473-.561,9.5-.242.749-.711,1.332-.929,1.97-.363,1.054-.342,3.676.929,3.72.822.029,1.3-1.29,1.531-2.134,1.4-5.082.692-12.484,1.2-18.311.6-.153,1.182.068,1.586-.22a1.493,1.493,0,0,0-.273-2.346c-.427-.324-.848-.19-1.258-.493m-10.439,4.284c-1.187-.484-2.437,1.211-3.721.437-.445-.268-.473-1.39-.493-2.352a47.133,47.133,0,0,1,.876-9.082c.341-2.136.92-4.214,1.039-6.074.072-1.121-.292-1.932-.93-2.188a1.516,1.516,0,0,0-1.86,1.039c-.035.345.276.763.328,1.2.263,2.173-.363,3.941-.547,5.854-.161,1.687-.515,2.895-.656,4.377a27.845,27.845,0,0,0,0,6.293c.2,1.494.924,3.306,2.189,3.665a3.345,3.345,0,0,0,3.119-1.15c.512-.455,1.13-1.139.657-2.024m-9.428,0c-1.187-.484-2.436,1.211-3.72.437-.445-.268-.473-1.39-.493-2.352a47.123,47.123,0,0,1,.876-9.082c.34-2.136.92-4.214,1.039-6.074.072-1.121-.292-1.932-.93-2.188a1.515,1.515,0,0,0-1.86,1.039c-.036.345.275.763.328,1.2.262,2.173-.364,3.941-.547,5.854-.162,1.687-.516,2.895-.656,4.377a27.788,27.788,0,0,0,0,6.293c.2,1.494.923,3.306,2.188,3.665a3.346,3.346,0,0,0,3.119-1.15c.511-.455,1.129-1.139.656-2.024m11.835-5.6c-.783.123-1.266.3-1.266.891,0,1.352,3.528,1.221,3.451-.059-.046-.786-1.5-.939-2.185-.832m4.974,7.334c-.93-.341-1.672.432-2.768.285-1.335-.179-1.6-1.741-1.344-3.066.057-.3.426-.832.339-1.126s-1.016-.429-1.587-.312a1.378,1.378,0,0,0-.787.6c-.782,1.4-.1,4.032.882,4.572a5.9,5.9,0,0,0,3.6.217c.565-.151,1.644-.267,1.7-.977Zm22.481-7.95c-3.971-3.821-13.793-6.124-18.877-6.813,0,.054-.008.113-.011.167-.025.406-.05.8-.08,1.171-.013.167-.026.337-.038.506a11.665,11.665,0,0,1,3.442.883,21.187,21.187,0,0,0-3.477-.393c-.021.307-.038.619-.053.935,1.017.107,2.834.348,3.49.5a44.308,44.308,0,0,1,6.347,1.915c1.753.7,5.735,2.232,7.281,4.4,3.366,4.709.809,7.816-1.263,9.336-1.8,1.322-9.965,2.319-14.389,1.369,0-.29,1.95-2.179,1.914-2.408a34.814,34.814,0,0,0-3.547.93c-.011,1.08-.027,2.165-.062,3.242,6.08.128,17.086,2.055,20.84-4.008,3.825-6.179-3.413-11.826-3.413-11.826,8.855,6.207,4.354,12.12,4.354,12.12s-2.177,4.031-9.531,4.678a37.142,37.142,0,0,1-12.252-.875c-.008.24-.014.48-.025.719a9.433,9.433,0,0,1,1.12.164,13.455,13.455,0,0,0,2.576.424,57.709,57.709,0,0,0,11.5-.314,12.182,12.182,0,0,0,6.17-3.228c2.564-2.485,4.046-7.757-2.015-13.59M960.4-606.8q-.092.574-.178,1.131c2.685-.333,4.951-.6,5.392-.619,1.35-.054,4.306-.1,5.862-.109,0-.024,0-.047,0-.072.011-.278.023-.565.036-.848-2.659-.026-6.294.088-11.114.516m7.786-3.372c-1.32-.292-2.52-1.077-3.884-1.2a2.32,2.32,0,0,0-1.15.11c.055.372,1.217.7,1.2,1.422-.131.073-1.561.308-3.523.606-.112.559-.221,1.125-.313,1.693a87.973,87.973,0,0,1,11.018-.4c.026-.63.058-1.264.093-1.9-1.385-.126-3.38-.311-3.446-.325m-17.557,5.737c1.3-.177,3.968-.523,6.7-.87.009-.046.016-.09.025-.136.064-.35.128-.707.187-1.081q-3.075.322-6.725.815C950.747-605.281,950.683-604.858,950.624-604.437Zm.532-3.4c-.022.126-.044.253-.064.38l-.087.54c-.024.153-.048.3-.072.454,2.243-.3,4.5-.575,6.71-.8.018-.154.037-.307.053-.469.034-.356.085-.708.14-1.055C955.537-608.459,953.059-608.107,951.156-607.839Zm35.487,12.254A1.03,1.03,0,0,0,986-595.8a3.265,3.265,0,0,0-1.3.424c-.2.1-.407.2-.6.269a11.253,11.253,0,0,1-2.766.651c-.165.015-.328.023-.485.023a1.718,1.718,0,0,1-1.228-.325.429.429,0,0,1-.1-.358c.068-.535,1.365-.684,2.14-.773.231-.027.431-.049.575-.077l.119-.023c.82-.156,2.348-.446,2.31-1.5-.027-.779-1.262-1.182-1.925-1.4a7.529,7.529,0,0,0-2.306-.377,3.657,3.657,0,0,0-2.66.893,3.181,3.181,0,0,0-.73,1.615,4.635,4.635,0,0,1-.165.6,1.015,1.015,0,0,1-.205.244c-.206.207-.489.491-.4.852.078.318.4.347.708.376a2.1,2.1,0,0,1,.45.074,4.382,4.382,0,0,1,.771.373,4.133,4.133,0,0,0,1.376.56,7.957,7.957,0,0,0,1.238.1h0a11.818,11.818,0,0,0,3.9-.756c.131-.046.268-.089.413-.133.656-.2,1.333-.413,1.559-1.017A.094.094,0,0,0,986.643-595.584Zm-5.15-2.457c.233.012.637.09.678.307a.508.508,0,0,1-.149.375,2.489,2.489,0,0,1-1.6.782.565.565,0,0,1-.319-.079,1.077,1.077,0,0,1,.284-.824,1.5,1.5,0,0,1,1.061-.562Zm-33.883,2.6c-.013.711-.908,1.028-1.627,1.282l-.022.008a12.982,12.982,0,0,1-3.961.634,6.616,6.616,0,0,1-2.343-.361,2.853,2.853,0,0,1-.515-.316,1.771,1.771,0,0,0-.607-.336,2.351,2.351,0,0,0-.9.285,5.6,5.6,0,0,1-.65.259,9.891,9.891,0,0,1-5.477.107,2.461,2.461,0,0,1-.537-.317,2.116,2.116,0,0,0-.607-.338,1.489,1.489,0,0,0-.268-.035c-.294-.023-.7-.054-.828-.344-.167-.369.081-.609.3-.821a1.03,1.03,0,0,0,.3-.384,3.133,3.133,0,0,1,1.281-2.5,5.26,5.26,0,0,1,4.475-.252c.42.126,1.8.592,1.925,1.277.221,1.188-1.307,1.493-2.318,1.7-.245.049-.527.084-.825.122-.9.112-1.915.24-1.944.776a.406.406,0,0,0,.133.333,2.381,2.381,0,0,0,1.623.28c.976-.1,3.449-.686,3.811-1.373a4.832,4.832,0,0,0,.332-.918,4.01,4.01,0,0,1,.608-1.394,3.476,3.476,0,0,1,2.889-1.136,7.409,7.409,0,0,1,3.3.892c.558.309.8.653.733,1.02-.156.8-1.849,1.422-3.011,1.563-.142.017-.286.032-.43.046-.8.081-1.561.157-1.566.682,0,.406.694.608,1.166.617a11.039,11.039,0,0,0,2.828-.517l.1-.028a7.156,7.156,0,0,0,.872-.322,2.212,2.212,0,0,1,1.709-.274A.093.093,0,0,1,947.61-595.442Zm-17.951-2.652a.62.62,0,0,0-.137-.682,3.052,3.052,0,0,0-2.391-.258,2.7,2.7,0,0,0-.952.66,1.646,1.646,0,0,1-.835.531.574.574,0,0,1-.026-.308.69.69,0,0,0-.108-.528.092.092,0,0,0-.031-.024,1.254,1.254,0,0,0-1.157-.049,1.921,1.921,0,0,0-.837,1.488c-.2,1.337-.061,2.928.722,3.468a1.109,1.109,0,0,0,.644.2,2.224,2.224,0,0,0,1.072-.339.1.1,0,0,0,.043-.053,1.407,1.407,0,0,0,.019-.615,1.966,1.966,0,0,1-.016-.5c.115-.861,1.344-2.692,2.158-2.763a2.74,2.74,0,0,1,.582.054C928.923-597.732,929.505-597.641,929.659-598.093Zm11.75,1.381c.147.475,1.147.108,1.554-.146.7-.438.819-1.317-.437-1.068-.393.078-1.282.682-1.117,1.214m-8.319,0c.154.5,1.195.113,1.62-.152.734-.457.853-1.372-.455-1.113-.411.081-1.337.71-1.165,1.265m11.128-11.272c-.286.171.865.6.328,1.039-1.267.194-21.3,3.722-21.666,3.775s-3.379.434-4.541.546a56.249,56.249,0,0,0-6.511,1.15A1.672,1.672,0,0,0,910.733-600c.058.589.754.9,1.313,1.094a6.943,6.943,0,0,0,2.845.273c.682-.045,12.578-2.486,12.748-2.517,1.08-.195,14.569-2.086,19.959-2.853.059-.436.132-.855.209-1.283-2.424.358-5.022.772-7.812,1.256,0,0-12.766,2.659-14.286,1.823,0,0,10.522-2.167,22.235-3.848.074-.43.146-.878.2-1.362l-.208.031C946.509-607.09,945.532-608.266,944.217-607.985ZM919.094-601.3a.817.817,0,0,1-.384.32,4.69,4.69,0,0,1-1.114.363l0-.005c-.188.044-.367.116-.556.155-.146.03-.3.023-.445.052a2.057,2.057,0,0,1-.311.052,3.249,3.249,0,0,1-.375.006,1.962,1.962,0,0,1-.33-.1c-.116-.026-.142,0-.241-.089-.009-.008-.115-.118-.113-.073-.011-.218.078-.3.243-.437a2.089,2.089,0,0,0,.219-.164,3.84,3.84,0,0,1,1.259-.492,5.038,5.038,0,0,1,1.039-.164,2.489,2.489,0,0,1,.728.078,1.349,1.349,0,0,1,.329.112C919.134-601.621,919.135-601.394,919.094-601.3Zm52.117,11.728a12.04,12.04,0,0,1-2.209.3,104.866,104.866,0,0,1-11.873,0c-.055.315,3.754,2.284,9.027,3.174a21.384,21.384,0,0,0,4.924.164l.067-.019C971.237-587.082,971.236-588.3,971.211-589.574Zm-1.936,1.833a10.1,10.1,0,0,0-1.368.164,4.722,4.722,0,0,1-2.353.109c-.121-.048-.3-.13-.328-.273.093-.328.531-.2.929-.218a24.582,24.582,0,0,1,3.283-.11c.2.014.492-.079.6.164C969.917-587.409,969.608-587.738,969.275-587.741Z" transform="translate(-910.728 618.689)"/>
          </svg>
        </a>
      </div>
              <div>
                 <span class="header__logo"><a class="header__logo-link" href="/"><span class="visually-hidden">Outdoor Nation</span>
            <img class="header__logo-image" width="529" height="98" src="//cdn.shopify.com/s/files/1/0669/6425/9132/files/ON_Logo_355x-01-2x.png?v=1682456838" alt=""></a>
      </span>
              </div>
      <div class="logo-top-nav fintech-top">
        <a class="logos-align" href="/pages/fintech/">
          <svg xmlns="http://www.w3.org/2000/svg" width="108.172" height="24.521" viewBox="0 0 108.172 24.521">
              <path id="Path_152362" data-name="Path 152362" d="M94.027,85.261v2.412h-5.47V97.966H85.909V74.187h9.444V76.6h-6.8v8.663Zm3.43-11.073h2.65V97.967h-2.65Zm7.712,23.779h-2.379V74.187h3.364l5.5,17.19V74.187H114V97.966h-2.751l-6.081-19.228Zm15.661,0V75.613h-4.858V74.187h11.244v1.427h-4.824V97.966Zm16.476-12.773V86.62h-6.489v9.92h7.813v1.427h-9.376V74.187h9.376v1.427h-7.813v9.579Zm8.9-11.21a5.411,5.411,0,0,1,2.327.458,4.414,4.414,0,0,1,1.6,1.257,5.141,5.141,0,0,1,.917,1.9,9.454,9.454,0,0,1,.29,2.4v1.97h-1.5V79.894a7.887,7.887,0,0,0-.186-1.767,3.9,3.9,0,0,0-.629-1.427,3.04,3.04,0,0,0-1.12-.951,4.251,4.251,0,0,0-3.331,0,3.038,3.038,0,0,0-1.121.951,3.9,3.9,0,0,0-.629,1.427,7.962,7.962,0,0,0-.186,1.767V92.259a7.955,7.955,0,0,0,.186,1.767,3.739,3.739,0,0,0,.629,1.41,3.094,3.094,0,0,0,1.121.934,4.252,4.252,0,0,0,3.331,0,3.1,3.1,0,0,0,1.12-.934,3.734,3.734,0,0,0,.629-1.41,7.871,7.871,0,0,0,.186-1.767V89.44h1.5v2.717a9.466,9.466,0,0,1-.29,2.4,5.131,5.131,0,0,1-.917,1.9,4.4,4.4,0,0,1-1.6,1.257,6.143,6.143,0,0,1-4.654,0,4.4,4.4,0,0,1-1.6-1.257,5.117,5.117,0,0,1-.917-1.9,9.469,9.469,0,0,1-.288-2.4V80a9.466,9.466,0,0,1,.288-2.4,5.126,5.126,0,0,1,.917-1.9,4.413,4.413,0,0,1,1.6-1.257,5.4,5.4,0,0,1,2.327-.458m9.241,12.807V97.966h-1.563V74.186h1.563V85.363h7.406V74.186h1.6V97.966h-1.6V86.79Zm17.693,11.417a3.587,3.587,0,0,1-3.583-3.582V77.269a3.587,3.587,0,0,1,3.583-3.582H190.5a3.582,3.582,0,0,1,3.582,3.582V94.625a3.586,3.586,0,0,1-3.582,3.582Zm0-23.841a2.906,2.906,0,0,0-2.9,2.9V94.625a2.906,2.906,0,0,0,2.9,2.9H190.5a2.906,2.906,0,0,0,2.9-2.9V77.269a2.906,2.906,0,0,0-2.9-2.9v0ZM176.5,86.4l-.073.017s-2.455,8.758-2.723,9.8h-1.28c.226-.9,1.414-5.653,1.44-5.751,2.783-10.356,6.23-12.534,7-12.9l.051.068a24.377,24.377,0,0,0-2.508,4.6l0,0a4.862,4.862,0,0,0,2.17,6.171l-.025.082a7.446,7.446,0,0,1-4.048-2.1Zm5.665,3.547-.075.012c-.631,1.569-1.927,5.436-2.205,6.263h-1.276c.19-.564.771-2.265.808-2.381,3.241-10.3,6.75-12.487,7.539-12.862l.05.068a26.528,26.528,0,0,0-2.825,4.841l0,0c-1.443,3.983,1.016,5.535,1.665,5.929l-.025.082a6.067,6.067,0,0,1-3.656-1.949Zm8.691,4.684-.022.083a5.067,5.067,0,0,1-3.215-1.577l-.02-.033c-.433.965-1.171,2.376-1.468,3.117H184.83c3.287-8.6,6.5-10.524,7.261-10.873l.051.068a19.3,19.3,0,0,0-2.627,3.829l0,.007c-1.433,3.8.7,5.03,1.349,5.378Z" transform="translate(-85.908 -73.687)"/>
          </svg>
        </a>
      </div>
      <div class="logo-top-nav mad-pelican-top">
        <a class="logos-align" href="/pages/mad-pelican/">
          <svg xmlns="http://www.w3.org/2000/svg" width="60.203" height="30.326" viewBox="0 0 60.203 30.326">
            <path id="Path_152361" data-name="Path 152361" d="M28.578,45.363l-.01-.07a3.336,3.336,0,0,0-1.147-1.828l-.08.009-.15.087a.343.343,0,0,1-.2-.27l-.159.087A1.953,1.953,0,0,0,26,43.248l.02.148-.25.017.07-.148a.645.645,0,0,0-.239.1q-.509-.113-.529-.3c-.06.006-.086.032-.08.078l-.17-.052-.149.087q.01.07.09.061l.01.07c-.053.006-.083-.014-.09-.061-.053.006-.08.032-.08.079a.168.168,0,0,1-.179-.131l-.15.087-.02-.139-.08.009-.15.087-.01-.07-.159.087-.08.009-.02-.14-.4.1-.329-.035.02.139-.08.009-.18-.052.01.07a1.548,1.548,0,0,1-.678-.148.661.661,0,0,0-.229.1l-.179-.052c.007.047-.017.072-.07.078l-.319.026-.179-.052a4.329,4.329,0,0,0-.189,1.027l.08-.009-.02,3.673.08-.009-.1.435.1.139-.07.722.1.139-.15,1.375a3.641,3.641,0,0,1,.2.914q.07.574,1.217.461a.069.069,0,0,1,.07-.087l.16-.009.5.018a.675.675,0,0,1,.319-.1l-.01-.07-.1-.131q.02-.435.1-.444-.319-2.48.169-2.533l.01.07.149-.087.169.052v-.07h.738l.319-.1.1.139a.655.655,0,0,0,.229-.1.66.66,0,0,1,.249.043v-.069a.693.693,0,0,1,.249.043l.15-.087.01.07c.053-.006.076-.032.07-.078.06-.006.093.017.1.069l.15-.087.169.052-.01-.07a1.862,1.862,0,0,0,1.157-.618,2.71,2.71,0,0,0,1.087-1.767.773.773,0,0,0-.14-.418Zm-2.343.957-.249.026a2.5,2.5,0,0,1-.987.6l-.08.009.06-.157-.329.035.02.139a.15.15,0,0,1-.179-.122q-.4.113-.369.322l-.08.009a.15.15,0,0,1-.179-.122l-.6-.156c-.007-.047.017-.073.07-.079a.078.078,0,0,0-.09-.07.516.516,0,0,1,.04-.287l-.1-.13a.453.453,0,0,1,.06-.226l-.1-.131a3.664,3.664,0,0,0,.12-.949l.16-.018q.169-.017.179.131l.159-.087.319-.035.179.052-.01-.07q1.944-.191,2.074.731l-.05.287c.053-.006.083.015.09.061C26.311,46.091,26.268,46.169,26.235,46.32Zm4.946-3.281h-.818a.608.608,0,0,1-.329.148q0,.148.09.783l-.688,7.92c.053.006.076.032.07.078q.758,0,6.96.331l.488-.009.319-.209a.386.386,0,0,0-.07-.217c0-.006,0-.025,0-.052l.146-.088a.54.54,0,0,0-.07-.217h-.055c.011-.147.026-.337.045-.575q0-.121-.239-.357c-.06,0-.09.026-.09.078l-.818-.069q-1.117,0-3.839-.061-.578,0-.658-.5l.239-.853a.078.078,0,0,1-.09-.07v-.139q.01-.792.329-.792l.409.07.169-.07-.01.07a.081.081,0,0,0,.09-.078c.053.006.076.032.07.078q1.8.061,3.53.2l.16-.07v.061q.489,0,.489-1.279L37,46.8a1,1,0,0,1-.489-.078V46.8l-.169-.078-.569.009-.409-.07q0,.078-.08.07l-.169-.07c.006.047-.02.07-.08.07l-1.057.009a.746.746,0,0,1-.08.218q-.249-.113-.249-.218-1.955.009-1.964-.626l-.329.209h-.08c0-.046.026-.07.08-.07q0-.122-.169-.148,0-.174.329-.209l-.08-.366v-.139a1.036,1.036,0,0,1,.489.148l.08-.009a2.78,2.78,0,0,1,.329-.783q1.646.07,1.954.131c.007-.046.037-.067.09-.061l.16.061a13.061,13.061,0,0,1,2.782.209q.339,0,.478-1.506a.439.439,0,0,1-.08-.209Q32.457,43.222,31.181,43.039Zm2.234,4.056.159.07c0,.1-.053.148-.159.148l-.17-.078C33.251,47.153,33.308,47.106,33.414,47.095Zm-1.885.3.17.07-.16.357-.339-.139Q31.4,47.39,31.53,47.391Zm1.675-3.656h-.08l-.159-.07V43.6a.673.673,0,0,0,.239.069ZM35.4,52.908h.4q0,.565-.489.566H35.07q-.119,0-.249-.209v-.209q0-.1.409-.218ZM45.823,50.88q.1,1.462-.26,1.462c0-.046-.026-.07-.079-.07v.07l-.17-.07H43.808q-.419,0-1.157.07c0-.046-.026-.07-.08-.07v.07l-.169-.07h-.758a.732.732,0,0,0-.329.07.761.761,0,0,0-.259-.07l-.419.07c0-.046-.027-.07-.08-.07v.07c-.053,0-.08-.023-.08-.07l-.419.07q-.439-.069-.508-.07v.07a.685.685,0,0,0-.25-.07.674.674,0,0,1-.249.07l-.249-.365a12.6,12.6,0,0,0,.06-2.559v-.07q0-.078.09-.078l-.09-.148q.06-.653.169-.653a.07.07,0,0,0-.08-.078l.07-1.384-.17-.079A3.817,3.817,0,0,0,39,45.4l-.08-.365q.06-.627.06-.8H38.9a2.561,2.561,0,0,1,.249-1.027l.17.069h.08q.17,0,.17-.139l.169.07h.838l.5-.07q.129.026.239.365c-.053,0-.08.023-.08.07h.08l-.08.148v.731q0,.07.08.07a8.922,8.922,0,0,0-.04,2.045v.731l-.08.148h.08l-.08.148a6.946,6.946,0,0,1-.05,2.489,1.508,1.508,0,0,0,.169.5q.828-.07,1.257-.07h1.735c.06,0,.09-.023.09-.07l.17.07h.159a6.581,6.581,0,0,0,.927-.07.158.158,0,0,0,.17.139.537.537,0,0,0-.08.226C45.743,50.857,45.769,50.88,45.823,50.88Zm4.3-5.265a1.642,1.642,0,0,0-.02.218h.02a.494.494,0,0,1-.229.365c0,.047-.007.07-.02.07l-.05-.07q.069-.879.249-.879A1.182,1.182,0,0,0,50.12,45.615Zm-.638-1.906.12-.07v.07l-.05.3c-.027-.046-.05-.07-.07-.07Zm.658,1.1v.3q-.05,0-.09.069a.416.416,0,0,0-.07-.218q.03-.287.07-.287h.05C50.127,44.678,50.14,44.724,50.14,44.806ZM50.3,41.3q0,.139-.18,1.175a1.618,1.618,0,0,1,.02.217q-.03,0-.07.218l.07.365-.04.07a1.211,1.211,0,0,1-.03-.287h-.15q-.04,0-.07-.218l-.05.07h-.04q-.13-.435-.209-.435v-.148h.05c.013,0,.02.023.02.07q.17-.365.249-.365h.05l.02.365h.04a1.082,1.082,0,0,1,.05-.287c-.02,0-.03-.026-.03-.078q.07,0,.07-.148v-.069h-.09q-.119,0-.13-.366a.822.822,0,0,1,.164-.592h-.037a.627.627,0,0,0-.249-.078.148.148,0,0,1,.159-.148h.169v.189a.316.316,0,0,1,.062-.033A3.573,3.573,0,0,1,50.3,41.3Zm-.588,2.924v.218h-.09V44.3C49.655,44.3,49.685,44.275,49.712,44.222ZM50,46.929h.07v.148l-.02.148c.013,0,.02.023.02.07l-.04.069H50Zm.07-2.994.03.139a1.081,1.081,0,0,1-.12.366h-.06q-.04,0-.16-.5a1.847,1.847,0,0,0,.02-.226h.04l.07.148h.03q.05,0,.08-.07h.07v-.078h.05v.078Q50.12,43.935,50.07,43.935Zm-.628.949.02.148v.139h-.07v-.139C49.4,44.933,49.416,44.884,49.442,44.884Zm.429.069h.07v.218c-.02,0-.043.026-.07.078,0-.052-.007-.078-.02-.078A1.651,1.651,0,0,0,49.871,44.953Zm-.645-1.41q-.11,7.084-.1,7.389h.09l-.08.148.04.949a.93.93,0,0,1-.818.461,6.151,6.151,0,0,0-.848-.044.564.564,0,0,1-.239.078l-.01-.07-.16.078q-.12,0-.269-.278.109-1.549.06-4.474h.09c0-.046-.03-.07-.09-.07l.08-.3q-.02-.365-.01-4.09-.01-.278.728-.392l.1.148.658-.174a.95.95,0,0,0,.429.131.8.8,0,0,1,.249-.087.07.07,0,0,0,.08.079q0,.07-.08.07Q49.136,43.161,49.226,43.544Zm.243-2.768c-.014,0-.027,0-.041,0a3.9,3.9,0,0,1,.033.518,2.476,2.476,0,0,0-.04.365.288.288,0,0,1-.249-.287,2.315,2.315,0,0,0,.1-.565.733.733,0,0,0-.3.191l-.259-.148-.169.07q0-.052-.249-.218a.678.678,0,0,1-.249.07,1.089,1.089,0,0,1,.17.592l-.339-.226H47.7q0,.227-.169.226,0-.148-.17-.148,0,.217-.169.217-.419,0-.419-.809h1.007c.06,0,.09.026.09.078l.169-.078H49.3l.011,0,.021-.064c.029,0,.053.033.072.1A.125.125,0,0,1,49.47,40.776Zm-2.6,1.471.08-.366-.08-.444a.623.623,0,0,0,.249.079v.217c0,.047-.03.07-.09.07q.04.374.259.374v.287h-.169l.169.226v.218q0,.148-.169.148h-.09v-.592Zm12.624,7.424a8.367,8.367,0,0,1-1.516,1.688q-.419.044-.419.365h-.17a12.445,12.445,0,0,1-1.775.3q-3.49,0-4.876-2.576a6.654,6.654,0,0,1-.419-1.688v-.444q.206-2.55.694-2.7A1.633,1.633,0,0,1,51,44.44l.02-.653H51q.02-.174.05-.731c.026.012.04.061.04.148q-.02.218-.04.218a2.531,2.531,0,0,0,.04.513l-.02.139.02.148c0,.149-.009.272-.015.375h0q0-.313,1.177-1.175a4.636,4.636,0,0,1,2.014-.661h.588c.06,0,.09-.023.09-.07l1.6.218v-.07a4.374,4.374,0,0,1,2.024,1.245,2.763,2.763,0,0,1,.758,1.323v.148a11.281,11.281,0,0,1-2.1.3q-.848-1.323-1.765-1.323h-.927q-1.177.339-1.177.661a2.221,2.221,0,0,0-.678,1.906v.148q-.189,0-.249.3h-.17q.419.253.419.514a10.933,10.933,0,0,0,.678,1.471,1.49,1.49,0,0,0,.917.513.758.758,0,0,0,.588.218h.508q1.376,0,1.935-1.758h.419a9.274,9.274,0,0,0,1.605.435l.17.218v.3q0,.078-.09.078Zm4.133.94h.249c-.007.093-.067.139-.179.139Zm5.087-9.7c0,.081-.07.2-.219.361a9.622,9.622,0,0,1,.151-1.57,3.922,3.922,0,0,1,1.6.223l.058-.062.015.3A.657.657,0,0,0,70,40.086v-.043l-.117-.058q-.119-.181-.2-.181l0,.22Q68.583,39.531,68.71,40.914Zm3.808-.609.4,0a.132.132,0,0,1-.011-.046l0-.071.232-.007.546.135v.079l-.613.006-.005,0v.036l-.162.007-.384-.063Zm-.234.025-.546-.135q0-.149.158-.148l.071-.009.393.073A.5.5,0,0,0,72.284,40.33Zm-1.59-.39a1.515,1.515,0,0,0-.266.039.588.588,0,0,1,.229-.069q1.005-.012,1.01.208a.554.554,0,0,0-.311.077c0-.053-.028-.076-.082-.071.008.048-.015.074-.07.079v-.079l-.15.079Zm-2.225,2.149v.024l.011.08C68.41,42.176,68.408,42.141,68.468,42.089Zm.023-.813c0,.012,0,.025,0,.037l0-.031Zm.089.736a.74.74,0,0,0-.112.077q.007-.421.021-.776ZM77.734,54.4l-.067.141a.71.71,0,0,0-.233-.063V54.4q0-.141.147-.14C77.68,54.262,77.731,54.31,77.734,54.4Zm2.625.136s0,0,0,0l-.078-.013Zm-.382.008-.037-.032.079.01C80.074,54.532,80.057,54.539,79.977,54.548ZM73.328,51l0,.149-.216.3q-.319-.108-.316-.213l-.01-.08L72.875,51q-.09,0-.092-.072l.16,0,.234.142Zm4.121,1.234-.5-.1a.936.936,0,0,1-.417.047q-.089-.011-.081-.08l-.177.058q-.581-.183-.558-.548-.419-.023-.56-.7l-.09,0,.1-.146,0-.07-.47-.7q0-.1-.325-.31l.008-.148.169.011.009-.078-.339-.023.006-.218-.169-.011c.005-.046.035-.069.088-.068a4.793,4.793,0,0,0-.619-1.213q-.415-1.153-.7-1.222-.162.007-.176.128l-.007.148a.071.071,0,0,0,.081.08l-.182.434.058.445-.006.218a.548.548,0,0,1-.094.287l.072.158q0,.07-.088.068l.067.367a.547.547,0,0,1-.094.287c-.006.052.021.079.081.08l-.2.651.073.149-.088.147a3.177,3.177,0,0,1,.05.593q-.095.375-.1.435a.428.428,0,0,1,.073.228,6.421,6.421,0,0,1-1.431.128.769.769,0,0,0-.339-.1,3.363,3.363,0,0,1-.506.115l.02-.034h-.015q.023-.365-.315-.388l.009-.078q.268.023-.075-.552l.169.011-.154-.307.1-.356-.079-.009A1.221,1.221,0,0,1,70,49.62l-.067-.367q.169.011.177-.137l0-.3q.007-.148-.152-.158.08-.507.19-.5l-.083-.15a2.233,2.233,0,0,1,.2-.581,2.254,2.254,0,0,1-.14-.6l.169.011-.066-.376a2.691,2.691,0,0,1,.1-.435l-.09,0a.07.07,0,0,1,.088-.069l-.058-.524.008-.069.175-.207q-.249-.021-.241-.169a.544.544,0,0,0,.094-.287l.16.089.044-.88-.249-.021.008-.148q.248.021.256-.127V43.54l-.058-.445q.021-.435.769-.391l.089.011a.652.652,0,0,1,.33.092.578.578,0,0,1,.258-.057q-.008.069.081.079a.151.151,0,0,1,.177-.137,3.483,3.483,0,0,0,.991.284c0,.047-.028.07-.089.069a16.011,16.011,0,0,1,1.008,1.828l.707,1.153a3.049,3.049,0,0,0,.632.847,3.341,3.341,0,0,0,.8,1.155l.168-.059-.082-.159.193-.354-.09,0,.1-.146,0-.071c0-.047-.028-.073-.081-.079.005-.046.035-.069.088-.069l-.067-.367v-.079l.112-.434-.083-.15a.826.826,0,0,0,.192-.433l0-.07-.154-.229.272-.432,0-.07q-.25-.012-.233-.238.159.01.175-.207c0-.047-.028-.074-.081-.08l.1-.365.014-.288a.072.072,0,0,0-.081-.08q.1-.435.441-.412l-.008.069.168-.059.09,0c.053.006.08.033.081.08a.8.8,0,0,1,.258-.057.072.072,0,0,1,.081.08l.417-.047.42.1v-.079q.381.168.4.32a6.636,6.636,0,0,1-.241,1.61.489.489,0,0,1,.075.3l-.008.148a.5.5,0,0,1-.1.286c0,.047.028.074.081.08l-.1.5-.038.741q-.034.619-.167,1.829a.072.072,0,0,1,.081.08l-.089-.011.083.15-.009.078-.1.356.089.011-.1.137-.013.445c-.005.046.021.073.081.08l-.1.137-.021.515a.55.55,0,0,1-.094.287,1.518,1.518,0,0,0,.227.535.79.79,0,0,1-.258.057l.073.149a.545.545,0,0,0-.094.287h-.08l0-.149-.587.036Zm3.106,2.428c0,.012.034.021.087.028q-.1.225-.881.15-.6-.072-1.483-.193l.008.018-.166-.037-.069-.008-.152.008-.095-.046-.017-.028a3.674,3.674,0,0,1,.483.075,2.778,2.778,0,0,1,1.336-.052l-.267.013c.22.01.4.014.549.015l.17.018-.022-.019c.219,0,.327-.023.321-.056l.246.041,0,.028Q80.6,54.665,80.555,54.659Zm-.667-.059-.282-.028q.265-.013.371-.025l.06.051Zm.864-1.52-.123,1.244a1.162,1.162,0,0,0-.361-.128l-.1-.046-.034-.057.324-.1c-.005-.012-.034-.021-.087-.028l.13-.878-.126,0,0-.07a.606.606,0,0,0,.067-.229h.1l.03-.2-.117-.119q-.018-.02.138-.15-.086-.037-.1-.082a.4.4,0,0,0,.1-.242.361.361,0,0,0-.183-.066q.116-.214.274-.2a.621.621,0,0,1-.2-.1l.152-.008.069.008.105.214q.079.176-.149.158l.183.066-.092.927,0,.088Zm.275,1.574-.424-.07.026-.26a.23.23,0,0,1,.136.255A1.051,1.051,0,0,0,81.028,54.654ZM72.85,53.333a.983.983,0,0,0-.157.227q-.373.008-.395-.651l.149-.07a.753.753,0,0,0,.234.063c0-.047.025-.07.079-.069l.083.15q-.11,0-.227.219Q72.846,53.2,72.85,53.333Zm-2.59.42h-.38a1.166,1.166,0,0,0,.378-.148Zm2.593-3.408q-.159-.019-.164-.142l.159-.069L73,50.126l0,.07Q72.984,50.343,72.853,50.345ZM69.674,53.7a.177.177,0,0,0,.09.05l-.158,0Zm-.131.046h.062l-.041.028C69.556,53.766,69.55,53.756,69.543,53.746Zm-.25-.388-.109.074c-.109-.095-.165-.163-.167-.2l-.219.158a1.183,1.183,0,0,0-.1-.162q.075-.024.156-.056a.79.79,0,0,0-.14-.444,2.437,2.437,0,0,0,.738-.191v-.07q-.621-1.458-1.13-2.664v-.055h-.022l-.339-.8.023.011,0-.228a.128.128,0,0,0-.065-.119c.079-.046.136-.188.17-.429L68,47.815a.485.485,0,0,1,.22-.079l-.008-.439-.074-.14q.131,0,.211-.509l-.075-.3q.131,0,.138-.15L68.4,45.18l-.084-.141q-.18,0-.473,2.634l.087.282a.716.716,0,0,0-.074.368l0,.264a.211.211,0,0,0-.035,0c0,.011,0,.02,0,.031q-1.129-2.693-1.551-3.8.04-1.14-1.346-1.175l-1.147-.026q-.249-.009-.249.061-.13,0-.349.5a9.99,9.99,0,0,1-.7,1.41h.08l-.429.557a8.513,8.513,0,0,1-1.147,2.472q-.538,1.471-.778,1.488c0,.046.026.07.08.07l-.26.418h.08a3.567,3.567,0,0,0-.778,1.41v.07q.05.217.479.235l.818.017a2.182,2.182,0,0,0,1.157-.191q.538-1.767,1.276-1.75.319.044.319.226l.409-.061.169.07q0-.174.489-.2l.249.009c.106,0,.159.049.159.148a.9.9,0,0,0,.249-.139h.08l.159.07v-.07a.819.819,0,0,1,.329.078l.16-.061c0,.046.03.07.09.07H66l.159-.061c0,.1.056.148.17.148a17.012,17.012,0,0,0,.758,1.81l.208.034a3.827,3.827,0,0,0-.034.548l-.013.366q0,.237,1.365.346,0-.07.059-.072,0,.091.876.112a.6.6,0,0,1-.139-.393ZM65.638,48.94q-.1,0-.808-.087l-.5.061c.007-.047-.02-.072-.08-.078l-.169.07c.007-.047-.017-.07-.07-.07l-.169-.009-.17.07c.007-.046-.017-.072-.07-.078l-.18.07-.07-.148.01-.279Q64.5,46.416,64.5,46.346q.179,0,.379.723a4.23,4.23,0,0,1,.768,1.653ZM68.2,53.281l-.05,0a.629.629,0,0,1-.39.243l-.061,0c-.13-.524-.207-.873-.23-1.052.554.1.835.178.835.241q-.219,0-.339.348.319.157.319.226a1.1,1.1,0,0,0,.278-.03,1.292,1.292,0,0,0-.091.367Q68.437,53.633,68.2,53.281Zm1.566.47h.116A.322.322,0,0,1,69.763,53.751Zm2.747-1.869q-.162.007-.166-.212a.561.561,0,0,0,.066-.22h.231A.811.811,0,0,0,72.51,51.882Zm.384.151,0,.132q-.351.589-.452.595H72.3l-.008-.36a.748.748,0,0,0,.225-.368ZM41.47,35.541a1.162,1.162,0,0,0,.433.173l-.072.519a1.179,1.179,0,0,0-.433-.173Zm-.144-1.054-.072.5q.18.409.4.441l.288.031.18-1.29L42.01,33.9Q41.794,33.889,41.326,34.487ZM40.157,21.938a6.253,6.253,0,0,1,.236,1.735l-.1.7a22.694,22.694,0,0,0,.039,6.665q-.276.722-.3.825l.079.721-.217.258a51.983,51.983,0,0,1-.02,5.961q-.551.515-3.6.172a15.92,15.92,0,0,1-.236-4.14,1.307,1.307,0,0,1-.886-.653,1.113,1.113,0,0,0,.256-.55l.157.017.3.172a19.882,19.882,0,0,1,.787-2.182q-.551-.051-.472-3.453l.2-.258-.02-1q-.216-.034-1.417,1.976l-.492-.052-.512-.91-.315-.034q-.276-.035-.59.636a4.713,4.713,0,0,1,1.83,2.044q-.158-.017-.177.12l.158.017-.2.275-.413,2.937-1.791,4.621q-.453.378-3.149.378-.807-.086-1.476-3.419A45.634,45.634,0,0,1,25.651,27.9l-.335-.034q.06,3.041-.236,8.641.314.034.02,2.13-.767.481-3.6.172a6.946,6.946,0,0,1-.63-3.608l.335-1.237q-.118-1.459.059-11.922.118-.79,5.9-.361a44.212,44.212,0,0,1,2.46,7.936,7.209,7.209,0,0,1,.925,2.645l.157.017q1.063-2.8,2.578-7.816.157.017.177-.12l-.158-.017.2-.258.138-.979.492.051-.059.275.177.017q.315.034.355-.241.059-.378-.748-.5l.256-.687,1.122.12a9.433,9.433,0,0,0,2.185-.481,1.463,1.463,0,0,0,.787.223l.2-.258.787.223Zm-4.9,3.59-.118-.292a1.423,1.423,0,0,1-.512.086,1.315,1.315,0,0,0-.453-.189l-.079.567q.63.069.571.481l.158.017q.059-.412.393-.378Zm3.07.052a1.307,1.307,0,0,0-.61-.206q-.315-.034-.394.516l-.177-.017q.039-.223-.689-.773l.02-.137a.142.142,0,0,1,.177-.137q-.138-2.13-.669-2.2l-.158-.017A5.81,5.81,0,0,0,35.3,24.12q-.2,1.323,2.618,2.13Q38.228,26.285,38.326,25.58Zm6.16-3.058-.275.807a.986.986,0,0,1,.1.447l.334-.1a4.1,4.1,0,0,1,0-1.134ZM43.5,27.229q.2.6.551.636l-.04.275-.315-.035q-.158,1.117.315,1.168a4.354,4.354,0,0,1-.492,1.237l.079.567.335.034.334-.1a33.694,33.694,0,0,1,.079-4.106Q43.562,26.817,43.5,27.229Zm.079-1.683a3.076,3.076,0,0,0,.531.756l.335-.1q-.079-.5-.079-.567Zm5.616-3.4q-.256,0-.689.979a19.754,19.754,0,0,1-1.378,2.783h.157l-.846,1.1a16.8,16.8,0,0,1-2.263,4.879q-1.063,2.9-1.535,2.938c0,.092.052.137.158.137l-.512.825h.157a7.039,7.039,0,0,0-1.535,2.783V38.7q.1.43.945.464l1.614.034a4.311,4.311,0,0,0,2.283-.378q1.062-3.487,2.519-3.453.629.086.63.447l.807-.12.334.137q0-.343.965-.4l.492.017q.314,0,.315.292a1.793,1.793,0,0,0,.492-.275h.157l.315.137v-.137a1.611,1.611,0,0,1,.649.154l.315-.12c0,.092.059.137.177.137h.157l.315-.12q0,.292.335.292a33.519,33.519,0,0,0,1.5,3.573q2.4.378,2.4.6-.433,0-.669.687.63.309.63.447a2.837,2.837,0,0,0,1.122-.241,1.556,1.556,0,0,0-.275-.876,4.811,4.811,0,0,0,1.456-.378v-.138q-4.94-11.6-6.278-15.1.078-2.25-2.657-2.319l-2.263-.052Q49.2,22.007,49.2,22.145Zm2.677,6.7a8.349,8.349,0,0,1,1.516,3.264l-.02.429q-.2,0-1.594-.172l-.984.12c.013-.092-.04-.143-.158-.155l-.335.137c.013-.091-.033-.137-.138-.137l-.334-.017-.335.138q.019-.137-.138-.155L49,32.434l-.138-.292.02-.55q2.244-4.037,2.244-4.175Q51.481,27.418,51.874,28.844Zm-2.342,7.267q.334,0,.354-.275h-.492ZM61.4,22.586l.081.872.184.276q-.157.015-.144.151l.108,1.163.184.276-.157.015.223.7.054.582-.13.305c.1-.01.161.031.17.122l.108,1.163-.131.288a.138.138,0,0,1,.171.14l.067.718-.063,1.024a.138.138,0,0,1,.171.14l-.131.288a.138.138,0,0,1,.171.139l.027.291-.13.305c.1-.01.161.031.169.122l.04.428-.13.305.157-.015-.13.305.241,2.6-.09.733q.157-.014.2.43l.052.564-.13.306.156-.015-.13.305.135,1.454.182.259a.138.138,0,0,0-.142.169q.49-.045.517.245a.138.138,0,0,0,.142-.169q.627-.058,3.515-.033c-.008-.091.039-.142.144-.151l.836.06a1.565,1.565,0,0,0,.654-.2,1.568,1.568,0,0,0,.679.075l3.312-.307.328.125q-.021-.223,1.972-.476.157-.015.13-.305a3.483,3.483,0,0,0,1.9-1.056,7.644,7.644,0,0,1,1.559-1.3c-.01-.1-.073-.148-.191-.138l-.013-.137q.313-.029.852-1.684a13.866,13.866,0,0,1,.425-2.662l-.176.017.1-.889-.2-.257.176-.016q-.346-2.452-.562-2.432-.165-1.778-2.741-4.4a11.565,11.565,0,0,0-7.171-1.663c.008.091-.04.142-.144.151a1.567,1.567,0,0,0-.679-.075l-.823.076q-1.9.176-5.815.384Zm4.818,3.348q-.067-.718,1.913-.9l.013.137q4.507,0,4.576.748a4.163,4.163,0,0,1,1.81,3.317l.16,1.728q.2,2.172-.131,2.2.175,1.882-2.894,2.891l-.346-.106-.32.168a1.337,1.337,0,0,1-.5-.091l.013.137-.856-.059-2.312.215q-.585-.981-.919-.95l-.319.185q-.054-.581-.72-.52l-.013-.137a1.365,1.365,0,0,0,.5-.2l.014.154a1.41,1.41,0,0,0,.953-.382,2.139,2.139,0,0,0-.407-.98l.157-.015a.138.138,0,0,0-.171-.14l.247-.748L66.5,32.6a2.151,2.151,0,0,1,.252-.9q-.333.031-.4-.687l-.334.031.027.291c-.1.01-.161-.031-.169-.122q-.176.017-.164.153a.317.317,0,0,1-.36-.26l-.027-.291L65.5,30.8a2.463,2.463,0,0,1,.94-.519l-.067-.718q-.02-.222-.686-.368-.333.031-.293.458l-.693-.229q-.157.015-.13.305l-.177.016q-.235.022-.544-.536l.347.123q.024-.589.436-.627l.157-.015.027.291.176-.017.319-.185q.009.1.864.368l.157-.015-.081-.872.15-.307-.176.016q-.013-.136.164-.153l-.454-1.269Q66.27,26.516,66.216,25.934Zm9.4.576.027.291-.176.016a.968.968,0,0,0-.2-.413Zm2.563.78.054.582-.157.015a1.006,1.006,0,0,0-.23-.565Z" transform="translate(-20.824 -21.529)" />
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>

<store-header {% if section.settings.enable_sticky_header %}sticky{% endif %} {% if request.page_type == 'index' and section.settings.enable_transparent_header %}transparent{% endif %} class="header {% if settings.background == settings.header_background %}header--bordered{% endif %} {% if request.page_type == 'index' and section.settings.enable_transparent_header %}header--transparent{% endif %}" role="banner">
  {%- assign menu = section.settings.navigation_menu -%}

  <div class="container">
    <div class="header__wrapper">
      <!-- LEFT PART -->
        <!-- CONDITIONAL HIDDEN MENU ON ORDER FORM PAGES -->
 {% if page.handle == 'landing-page' %}
              <nav class="header__inline-navigation" {% unless section.settings.header_layout == 'logo_center_search_open' %}role="navigation"{% endunless %} style="display: none;">
             <style>
               #shopify-section-announcement-bar,
               #shopify-section-header,
               #shopify-section-footer .footer {
                 display: none;
               }
             </style>       
 {%- endif -%}
            {%  if collection.handle == 'order-form' %}
              <nav class="header__inline-navigation" {% unless section.settings.header_layout == 'logo_center_search_open' %}role="navigation"{% endunless %} style="display: none;">
            {% elsif page.handle == 'catalog-order-form' %}
              <nav class="header__inline-navigation" {% unless section.settings.header_layout == 'logo_center_search_open' %}role="navigation"{% endunless %} style="display: none;">
                {% elsif product.tags contains 'orderform' %}
              <nav class="header__inline-navigation" {% unless section.settings.header_layout == 'logo_center_search_open' %}role="navigation"{% endunless %} style="display: none;">
              {% elsif item.product.tags contains 'orderform' %}
              <nav class="header__inline-navigation" {% unless section.settings.header_layout == 'logo_center_search_open' %}role="navigation"{% endunless %} style="display: none;">
            {% else %}
      <nav class="header__inline-navigation" {% unless section.settings.header_layout == 'logo_center_search_open' %}role="navigation"{% endunless %}>
            {% endif %}
        {%- if menu.links.size > 0 and section.settings.header_layout == 'logo_left_navigation_inline' or section.settings.header_layout == 'logo_left_navigation_center' or section.settings.header_layout == 'logo_center_navigation_inline' -%}
          {%- render 'desktop-menu', menu: menu -%}
        {%- endif -%}

        <div class="header__icon-list {% if section.settings.header_layout == 'logo_center_search_open' %}hidden-desk{% endif %}">
          {%- if menu.links.size > 0 -%}
            <button is="toggle-button" class="header__icon-wrapper tap-area {% unless section.settings.header_layout == 'drawer' %}hidden-desk{% endunless %}" aria-controls="mobile-menu-drawer" aria-expanded="false">
              <span class="visually-hidden">{{ 'header.general.navigation' | t }}</span>
              {%- render 'icon' with 'header-hamburger' -%}
            </button>
          {%- endif -%}

          <a href="{{ routes.search_url }}" is="toggle-link" class="header__icon-wrapper tap-area {% if section.settings.header_layout == 'logo_center_search_open' %}hidden-lap{% endif %} hidden-desk" aria-controls="search-drawer" aria-expanded="false" aria-label="{{ 'search.general.title' | t | escape }}">
            {%- render 'icon' with 'header-search' -%}
          </a>
        </div>

        {%- if section.settings.header_layout == 'logo_center_search_open' -%}
          <div class="header__search-bar predictive-search hidden-pocket">
            <form class="predictive-search__form" action="{{ routes.search_url }}" method="get" role="search">
              <input type="hidden" name="type" value="product">
              <input type="hidden" name="options[prefix]" value="last">
              <input type="hidden" name="options[unavailable_products]" value="{{ settings.search_unavailable_products }}">

              {%- render 'icon' with 'header-search' -%}
              <input class="predictive-search__input" is="predictive-search-input" type="text" name="q" autocomplete="off" autocorrect="off" aria-controls="search-drawer" aria-expanded="false" aria-label="{{ 'search.general.title' | t }}" placeholder="{{ 'search.general.search_placeholder' | t }}">
            </form>
          </div>
        {%- endif -%}
      </nav>

      <!-- ORDER FORM LOGO -->
      {%  if collection.handle == 'order-form' %}
        {%- capture logo -%}
        <a class="header__logo-link" href="/pages/catalog-order-form">
          {%- if section.settings.logo != blank -%}
            {%- capture logo_size -%}{{ section.settings.logo_max_width | at_least: section.settings.mobile_logo_max_width | times: 2 | append: 'x' }}{%- endcapture -%}
            <span class="visually-hidden">{{ shop.name }}</span>
            <img class="header__logo-image" width="{{ section.settings.logo.width }}" height="{{ section.settings.logo.height }}" src="{{ section.settings.logo | img_url: logo_size }}" alt="{{ section.settings.logo.alt | escape }}">

            {%- if request.page_type == 'index' and section.settings.enable_transparent_header and section.settings.transparent_logo != blank -%}
              <img class="header__logo-image header__logo-image--transparent" width="{{ section.settings.transparent_logo.width }}" height="{{ section.settings.transparent_logo.height }}" src="{{ section.settings.transparent_logo | img_url: logo_size }}" alt="{{ section.settings.transparent_logo.alt | escape }}">
            {%- endif -%}
          {%- else -%}
            <span class="header__logo-text heading h5">{{ shop.name }}</span>
          {%- endif -%}
        </a>
      {%- endcapture -%}

          {% elsif page.handle == 'catalog-order-form' %}

          {%- capture logo -%}
        <a class="header__logo-link" href="/pages/catalog-order-form">
          {%- if section.settings.logo != blank -%}
            {%- capture logo_size -%}{{ section.settings.logo_max_width | at_least: section.settings.mobile_logo_max_width | times: 2 | append: 'x' }}{%- endcapture -%}
            <span class="visually-hidden">{{ shop.name }}</span>
            <img class="header__logo-image" width="{{ section.settings.logo.width }}" height="{{ section.settings.logo.height }}" src="{{ section.settings.logo | img_url: logo_size }}" alt="{{ section.settings.logo.alt | escape }}">

            {%- if request.page_type == 'index' and section.settings.enable_transparent_header and section.settings.transparent_logo != blank -%}
              <img class="header__logo-image header__logo-image--transparent" width="{{ section.settings.transparent_logo.width }}" height="{{ section.settings.transparent_logo.height }}" src="{{ section.settings.transparent_logo | img_url: logo_size }}" alt="{{ section.settings.transparent_logo.alt | escape }}">
            {%- endif -%}
          {%- else -%}
            <span class="header__logo-text heading h5">{{ shop.name }}</span>
          {%- endif -%}
        </a>
      {%- endcapture -%}

                {% elsif product.tags contains 'orderform' %}

          {%- capture logo -%}
        <a class="header__logo-link" href="/pages/catalog-order-form">
          {%- if section.settings.logo != blank -%}
            {%- capture logo_size -%}{{ section.settings.logo_max_width | at_least: section.settings.mobile_logo_max_width | times: 2 | append: 'x' }}{%- endcapture -%}
            <span class="visually-hidden">{{ shop.name }}</span>
            <img class="header__logo-image" width="{{ section.settings.logo.width }}" height="{{ section.settings.logo.height }}" src="{{ section.settings.logo | img_url: logo_size }}" alt="{{ section.settings.logo.alt | escape }}">

            {%- if request.page_type == 'index' and section.settings.enable_transparent_header and section.settings.transparent_logo != blank -%}
              <img class="header__logo-image header__logo-image--transparent" width="{{ section.settings.transparent_logo.width }}" height="{{ section.settings.transparent_logo.height }}" src="{{ section.settings.transparent_logo | img_url: logo_size }}" alt="{{ section.settings.transparent_logo.alt | escape }}">
            {%- endif -%}
          {%- else -%}
            <span class="header__logo-text heading h5">{{ shop.name }}</span>
          {%- endif -%}
        </a>
      {%- endcapture -%}

      {% else %}
        
      <!-- LOGO PART -->
      {%- capture logo -%}
        <a class="header__logo-link" href="{{ routes.root_url }}">
          {%- if section.settings.logo != blank -%}
            {%- capture logo_size -%}{{ section.settings.logo_max_width | at_least: section.settings.mobile_logo_max_width | times: 2 | append: 'x' }}{%- endcapture -%}
            <span class="visually-hidden">{{ shop.name }}</span>
            <img class="header__logo-image" width="{{ section.settings.logo.width }}" height="{{ section.settings.logo.height }}" src="{{ section.settings.logo | img_url: logo_size }}" alt="{{ section.settings.logo.alt | escape }}">

            {%- if request.page_type == 'index' and section.settings.enable_transparent_header and section.settings.transparent_logo != blank -%}
              <img class="header__logo-image header__logo-image--transparent" width="{{ section.settings.transparent_logo.width }}" height="{{ section.settings.transparent_logo.height }}" src="{{ section.settings.transparent_logo | img_url: logo_size }}" alt="{{ section.settings.transparent_logo.alt | escape }}">
            {%- endif -%}
          {%- else -%}
            <span class="header__logo-text heading h5">{{ shop.name }}</span>
          {%- endif -%}
        </a>
      {%- endcapture -%}

        {% endif %}

      {%- if request.page_type == 'index' -%}
        <h1 class="header__logo">{{ logo }}</h1>
      {%- else -%}
        <span class="header__logo">{{ logo }}</span>
      {%- endif -%}

      <!-- SECONDARY LINKS PART -->
      <div class="header__secondary-links">
        {%- if section.settings.show_country_selector and localization.available_countries.size > 1 -%}
          {%- assign country_selector = true -%}
        {%- endif -%}

        {%- if section.settings.show_locale_selector and localization.available_languages.size > 1 -%}
          {%- assign locale_selector = true -%}
        {%- endif -%}

        {%- if locale_selector or country_selector -%}
          {%- form 'localization', id: 'header-localization-form', class: 'header__cross-border hidden-pocket' -%}
            {%- if country_selector -%}
              <div class="popover-container">
                <input type="hidden" name="country_code" value="{{ localization.country.iso_code }}">
                <span class="visually-hidden">{{ 'header.general.country' | t }}</span>

                <button type="button" is="toggle-button" class="popover-button text--small" aria-expanded="false" aria-controls="header-localization-form-currency">
                  {{- localization.country.name }} ({{ localization.country.currency.iso_code }} {% if localization.country.currency.symbol %}{{ localization.country.currency.symbol }}{%- endif -%})
                  {%- render 'icon' with 'chevron', width: 9, height: 6, inline: true -%}
                </button>

                <popover-content id="header-localization-form-currency" class="popover">
                  <span class="popover__overlay"></span>

                  <header class="popover__header">
                    <span class="popover__title heading h6">{{- 'header.general.country' | t -}}</span>

                    <button type="button" class="popover__close-button tap-area tap-area--large" data-action="close" title="{{ 'general.accessibility.close' | t | escape }}">
                      {%- render 'icon' with 'close' -%}
                    </button>
                  </header>

                  <div class="popover__content popover__content--restrict">
                    <div class="popover__choice-list">
                      {%- for country in localization.available_countries -%}
                        <button type="submit" name="country_code" value="{{ country.iso_code }}" class="popover__choice-item">
                          <span class="popover__choice-label" {% if country.iso_code == localization.country.iso_code %}aria-current="true"{% endif %}>
                            {{- country.name }} ({{ country.currency.iso_code }} {% if country.currency.symbol %}{{ country.currency.symbol }}{%- endif -%})
                          </span>
                        </button>
                      {%- endfor -%}
                    </div>
                  </div>
                </popover-content>
              </div>
            {%- endif -%}

            {%- if locale_selector -%}
              <div class="popover-container">
                <input type="hidden" name="locale_code" value="{{ localization.language.iso_code }}">
                <span class="visually-hidden">{{ 'header.general.language' | t }}</span>

                <button type="button" is="toggle-button" class="popover-button text--small" aria-expanded="false" aria-controls="header-localization-form-locale">
                  {{- localization.language.endonym_name | capitalize -}}
                  {%- render 'icon' with 'chevron', width: 9, height: 6, inline: true -%}
                </button>

                <popover-content id="header-localization-form-locale" class="popover">
                  <span class="popover__overlay"></span>

                  <header class="popover__header">
                    <span class="popover__title heading h6">{{- 'header.general.language' | t -}}</span>

                    <button type="button" class="popover__close-button tap-area tap-area--large" data-action="close" title="{{ 'general.accessibility.close' | t | escape }}">
                      {%- render 'icon' with 'close' -%}
                    </button>
                  </header>

                  <div class="popover__content">
                    <div class="popover__choice-list">
                      {%- for language in localization.available_languages -%}
                        <button type="submit" name="locale_code" value="{{ language.iso_code }}" class="popover__choice-item">
                          <span class="popover__choice-label" {% if language.iso_code == localization.language.iso_code %}aria-current="true"{% endif %}>
                            {{- language.endonym_name | capitalize -}}
                          </span>
                        </button>
                      {%- endfor -%}
                    </div>
                  </div>
                </popover-content>
              </div>
            {%- endif -%}
          {%- endform -%}
        {%- endif -%}

        <div class="header__icon-list">
          {%- comment -%}IMPLEMENTATION NOTE: this icon is hidden by the "popup" section if it is disabled{%- endcomment -%}
          <button is="toggle-button" class="header__icon-wrapper tap-area hidden-phone {% unless section.settings.show_icons %}hidden-desk{% endunless %}" aria-controls="newsletter-popup" aria-expanded="false">
            <span class="visually-hidden">{{ 'header.general.newsletter' | t }}</span>
            {%- render 'icon' with 'header-email' -%}
          </button>

          {%- if section.settings.header_layout != 'logo_center_search_open' -%}
            <a href="{{ routes.search_url }}" is="toggle-link" class="header__icon-wrapper tap-area hidden-pocket hidden-lap {% unless section.settings.show_icons %}hidden-desk{% endunless %}" aria-label="{{ 'search.general.title' | t | escape }}" aria-controls="search-drawer" aria-expanded="false">
              {%- render 'icon' with 'header-search' -%}
            </a>
          {%- endif -%}

          {%- if shop.customer_accounts_enabled -%}
            <a href="{% if customer %}{{ routes.account_url }}{% else %}{{ routes.account_login_url }}{% endif %}" class="header__icon-wrapper tap-area hidden-phone {% unless section.settings.show_icons %}hidden-desk{% endunless %}" aria-label="{% if customer %}{{ 'header.general.account' | t | escape }}{% else %}{{ 'header.general.login' | t | escape }}{% endif %}">
              {%- render 'icon' with 'header-customer' -%}
            </a>
          {%- endif -%}

          <a href="{{ routes.cart_url }}" {% unless settings.cart_type == 'page' or request.page_type == 'cart' %}is="toggle-link" aria-controls="mini-cart" aria-expanded="false"{% endunless %} class="header__icon-wrapper tap-area {% unless section.settings.show_icons %}hidden-desk{% endunless %}" aria-label="{{ 'header.general.cart' | t | escape }}" data-no-instant>
            {%- case settings.cart_icon -%}
              {%- when 'shopping_bag' -%}
                {%- render 'icon' with 'header-cart' -%}

              {%- when 'shopping_cart' -%}
                {%- render 'icon' with 'header-shopping-cart' -%}

              {%- when 'tote_bag' -%}
                {%- render 'icon' with 'header-tote-bag' -%}
            {%- endcase -%}

            <cart-count class="header__cart-count header__cart-count--floating bubble-count">{{ cart.item_count }}</cart-count>
          </a>
        </div>

        {%- unless section.settings.show_icons -%}
          <ul class="header__linklist list--unstyled hidden-pocket hidden-lap" role="list">
            {%- comment -%}
              <!-- NOTE: There is really not enough space to fit this, so this is commented by default in Liquid -->
              <li  class="header__linklist-item">
                <button is="toggle-button" aria-controls="newsletter-popup" aria-expanded="false">{{ 'header.general.newsletter' | t }}</button>
              </li>
            {%- endcomment -%}

            {%- if section.settings.header_layout != 'logo_center_search_open' -%}
              <li class="header__linklist-item">
                <a href="{{ routes.search_url }}" is="toggle-link" aria-controls="search-drawer" aria-expanded="false">{{ 'search.general.title' | t | escape }}</a>
              </li>
            {%- endif -%}

            {%- if shop.customer_accounts_enabled -%}
              <li class="header__linklist-item">
                <a href="{% if customer %}{{ routes.account_url }}{% else %}{{ routes.account_login_url }}{% endif %}">
                  {%- if customer -%}
                    {{ 'header.general.account' | t }}
                  {%- else -%}
                    {{ 'header.general.login' | t }}
                  {%- endif -%}
                </a>
              </li>
            {%- endif -%}

            <li class="header__linklist-item">
              <a href="{{ routes.cart_url }}" {% unless settings.cart_type == 'page' %}is="toggle-link" aria-controls="mini-cart" aria-expanded="false"{% endunless %} data-no-instant>
                {{- 'header.general.cart' | t | escape -}}
                <cart-count class="header__cart-count bubble-count">{{ cart.item_count }}</cart-count>
              </a>
            </li>
          </ul>
        {%- endunless -%}
      </div>
    </div>

    {%- if menu.links.size > 0 and section.settings.header_layout == 'logo_center_search_open' -%}
      <nav class="header__bottom-navigation hidden-pocket hidden-lap" role="navigation">
        {% render 'desktop-menu', menu: menu, bottom_navigation: true %}
      </nav>
    {%- endif -%}
  </div>
</store-header>

{%- comment -%}
------------------------------------------------------------------------------------
  CART NOTIFICATION: it is used to show the notification when a product is added in message mode
------------------------------------------------------------------------------------
{%- endcomment -%}

<cart-notification global hidden class="cart-notification {% unless section.settings.enable_sticky_header %}cart-notification--fixed{% endunless %}"></cart-notification>

{%- comment -%}
------------------------------------------------------------------------------------
MOBILE MENU DRAWER
------------------------------------------------------------------------------------
{%- endcomment -%}

{%- assign menu = section.settings.sidebar_navigation_menu | default: section.settings.navigation_menu -%}
{%- render 'mobile-menu', menu: menu -%}

{%- comment -%}
------------------------------------------------------------------------------------
SEARCH DRAWER
------------------------------------------------------------------------------------
{%- endcomment -%}

{%- render 'predictive-search' -%}

<script>
  (() => {
    const headerElement = document.getElementById('shopify-section-{{ section.id }}'),
      headerHeight = headerElement.clientHeight,
      headerHeightWithoutBottomNav = headerElement.querySelector('.header__wrapper').clientHeight;

    document.documentElement.style.setProperty('--header-height', headerHeight + 'px');
    document.documentElement.style.setProperty('--header-height-without-bottom-nav', headerHeightWithoutBottomNav + 'px');
  })();
</script>

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if section.settings.logo %}
      {% assign image_size = section.settings.logo.width | append: 'x' %}
      "logo": {{ section.settings.logo | img_url: image_size | prepend: 'https:' | json }},
    {% endif %}
    "url": {{ shop.url | append: page.url | json }}
  }
</script>

<script async type="text/javascript" src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=RQU29E"></script>

{% schema %}
{
  "name": "Header",
  "class": "shopify-section--header",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_sticky_header",
      "label": "Enable sticky header",
      "default": true
    },
    {
      "type": "header",
      "content": "Logo"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Image",
      "info": "280 x 80px .png recommended"
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "min": 40,
      "max": 300,
      "step": 5,
      "unit": "px",
      "label": "Image width",
      "default": 140
    },
    {
      "type": "range",
      "id": "mobile_logo_max_width",
      "min": 25,
      "max": 170,
      "step": 5,
      "unit": "px",
      "label": "Mobile image width",
      "default": 100
    },
    {
      "type": "header",
      "content": "Navigation"
    },
    {
      "type": "link_list",
      "id": "navigation_menu",
      "label": "Menu",
      "default": "main-menu"
    },
    {
      "type": "link_list",
      "id": "sidebar_navigation_menu",
      "label": "Mobile menu",
      "info": "Select a different menu for mobile sidebar. If none is set the main menu is used."
    },
    {
      "type": "header",
      "content": "Desktop",
      "info": "Those settings apply on large screen only"
    },
    {
      "type": "select",
      "id": "header_layout",
      "label": "Layout",
      "options": [
        {
          "value": "logo_left_navigation_inline",
          "label": "Logo left, navigation inline"
        },
        {
          "value": "logo_left_navigation_center",
          "label": "Logo left, navigation center"
        },
        {
          "value": "logo_center_navigation_inline",
          "label": "Logo center, navigation inline"
        },
        {
          "value": "logo_center_search_open",
          "label": "Logo center, search highlighted"
        },
        {
          "value": "drawer",
          "label": "Drawer"
        }
      ],
      "default": "logo_left_navigation_inline"
    },
    {
      "type": "checkbox",
      "id": "show_icons",
      "label": "Show icons",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "reduce_desktop_padding",
      "label": "Reduce padding",
      "default": false
    },
    {
      "type": "header",
      "content": "Language selector",
      "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
    },
    {
      "type": "checkbox",
      "id": "show_locale_selector",
      "label": "Show language selector",
      "default": true
    },
    {
      "type": "header",
      "content": "Country/region selector",
      "info": "To add a country/region, go to your [currency settings.](/admin/settings/payments)"
    },
    {
      "type": "checkbox",
      "id": "show_country_selector",
      "label": "Show country/region selector",
      "default": false
    },
    {
      "type": "header",
      "content": "Transparent header",
      "info": "Home page only. For best results, use an image section such as slideshow."
    },
    {
      "type": "checkbox",
      "id": "enable_transparent_header",
      "label": "Enable",
      "default": false
    },
    {
      "type": "color",
      "id": "transparent_header_text_color",
      "label": "Text color",
      "default": "#ffffff"
    },
    {
      "type": "image_picker",
      "id": "transparent_logo",
      "label": "Logo image",
      "info": "Uses the dimensions set on your main logo."
    },
    {
      "type": "header",
      "content": "Search"
    },
    {
      "type": "link_list",
      "id": "search_menu",
      "label": "Quick links menu",
      "info": "Display quick links when empty. This menu has limited support for dropdown items."
    }
  ],
  "blocks": [
    {
      "type": "mega_menu",
      "name": "Mega menu",
      "settings": [
        {
          "type": "text",
          "id": "menu_item",
          "label": "Menu item",
          "info": "Enter menu item to apply a mega menu dropdown. [Learn more](https://support.maestrooo.com/article/180-navigation-enabling-and-configuring-mega-navigation)."
        },
        {
          "type": "select",
          "id": "images_position",
          "label": "Images position",
          "info": "When featuring 4 images or more, we recommend to not use any dropdown links to keep the navigation easy to use.",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "right"
        },
        {
          "type": "header",
          "content": "Image 1"
        },
        {
          "type": "image_picker",
          "id": "image_1",
          "label": "Image",
          "info": "560 x 420px .jpg recommended"
        },
        {
          "type": "text",
          "id": "image_1_heading",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "image_1_text",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "image_1_link",
          "label": "Link"
        },
        {
          "type": "header",
          "content": "Image 2"
        },
        {
          "type": "image_picker",
          "id": "image_2",
          "label": "Image",
          "info": "560 x 420px .jpg recommended"
        },
        {
          "type": "text",
          "id": "image_2_heading",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "image_2_text",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "image_2_link",
          "label": "Link"
        },
        {
          "type": "header",
          "content": "Image 3"
        },
        {
          "type": "image_picker",
          "id": "image_3",
          "label": "Image",
          "info": "560 x 420px .jpg recommended"
        },
        {
          "type": "text",
          "id": "image_3_heading",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "image_3_text",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "image_3_link",
          "label": "Link"
        },
        {
          "type": "header",
          "content": "Image 4"
        },
        {
          "type": "image_picker",
          "id": "image_4",
          "label": "Image",
          "info": "560 x 420px .jpg recommended"
        },
        {
          "type": "text",
          "id": "image_4_heading",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "image_4_text",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "image_4_link",
          "label": "Link"
        },
        {
          "type": "header",
          "content": "Image 5"
        },
        {
          "type": "image_picker",
          "id": "image_5",
          "label": "Image",
          "info": "560 x 420px .jpg recommended"
        },
        {
          "type": "text",
          "id": "image_5_heading",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "image_5_text",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "image_5_link",
          "label": "Link"
        },
        {
          "type": "header",
          "content": "Image 6"
        },
        {
          "type": "image_picker",
          "id": "image_6",
          "label": "Image",
          "info": "560 x 420px .jpg recommended"
        },
        {
          "type": "text",
          "id": "image_6_heading",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "image_6_text",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "image_6_link",
          "label": "Link"
        }
      ]
    }
  ]
}
{% endschema %}